<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="../data/log/internal-nlog.txt">

    <variable name="Path" value="../data/log"/>

    <!-- the targets to write to -->
    <targets>
        <target xsi:type="File" name="defaultlogger" fileName="${var:Path}/logs/main.log"
                layout="===${newline}${longdate} | ${uppercase:${level}} | ${logger} | ${aspnet-user-identity} | ${message}${newline}${exception:format=toString}${newline}==="/>
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" maxlevel="Warn" final="true"/>  <!-- BlackHole -->
        
        <!--All other logs-->
        <logger name="*" minlevel="Warn" writeTo="defaultlogger" final="true" />

    </rules>
</nlog>